@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* global.css */
body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);/* Light purple background color */
  color: #4a148c; /* Dark purple text color */
  font-family: Arial, sans-serif; /* Optional: Set a default font */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  min-height: 100vh; /* Ensure body takes full height */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
